.login h1{
  text-align: center;
}
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
  
/* Set a style for all buttons */
button {
  background-color: #1177d1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
  
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
  
/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
  
/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
   
/* Add padding to containers */
.container {
  width: 75%;
  margin: auto;
  padding: 16px;
}

#bonus li{
  list-style: none;
  display: inline;
}

#bonus ul{
  padding: 0;
}

.pswf {
  float: right;
}
