<div class="login">
  <h1>Login</h1>
  <form #login="ngForm" (ngSubmit)="onSubmit()" method="post">
    <div class="container">

      <div *ngIf="LoginNotValid">
        <b> The username or the password is incorrect.</b>
      </div>

      <label for="username"><b>Username</b></label>
      <input type="text" class="" 
            placeholder="Enter Username" name="username" 
            [(ngModel)]="User.username" #username="ngModel"
            required>

        <div *ngIf="username.touched && username.errors?.required"> <!-- à faire: ajouter une classe à div pour que le message d'alerte soit plus élégant.  -->
            Username is required 
        </div>

      <label for="password"><b>Password</b></label>
      <input type="password" 
            placeholder="Enter Password" name="password" 
            [(ngModel)]="User.password" #password="ngModel"
            required>

        <div *ngIf="password.touched && password.errors?.required"> <!-- à faire: ajouter une classe à div pour que le message d'alerte soit plus élégant.  -->
           Password is required 
        </div>
  
      <button type="submit" [disabled]="!login.valid" >Login</button>
      
      <label for="remember">
      <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" id='bonus'>
        <ul>
            <li class="register">Don't have an account yet ? <a routerLink="/register"> Register !</a></li>
            <li class="pswf">Forgot <a routerLink="/password">password?</a></li>
        </ul>

    </div> 
  </form>
</div>

<div [hidden]="!validAuthentification">
  <h1> Vous êtes connecté !</h1>
  <p>Vous serez redirigé vers la page editor dans quelque instant.</p>
</div>

<div id="theList">
  <h2>Liste de tout les utilisateurs inscrits /!\ à Supprimer à la fin du projet /!\</h2> <!-- à Supprimer -->
  <ul>
    <li *ngFor="let item of Users">{{item.username}} | {{item.password}} | {{item.email}} </li>
  </ul>
</div>