div{
      text-align:center;
}

.contact_partie1 {
      width: 1000px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 25px 0 25px;
}

.contact_partie2 {
      width: 1000px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 25px 0 25px;
}

.partie1_left{
      padding-right: 100px;
}

.partie1_right{
      padding-left: 100px;
}

.partie2_left{
      padding-right: 100px;
}

.partie2_right{
      padding-left: 100px;
}

.partie1_left img{
      width: 100px;
      height: 100px;
      margin: 10px 10px;
}

.partie1_right img{
      width: 100px;
      height: 100px;
      margin: 10px 10px;
}

.partie2_left img{
      width: 100px;
      height: 100px;
      margin: 10px 10px;
}

.partie2_right img{
      width: 100px;
      height: 100px;
      margin: 10px 10px;
}

.partie1_left a{
      text-decoration: none;
      color: blue;
}

.partie1_right a{
      text-decoration: none;
      color: blue;
}

.partie2_left a{
      text-decoration: none;
      color: blue;
}

.partie2_right a{
      text-decoration: none;
      color: blue;
}