<div class="contact">
    <h1>Contact</h1>
    <p>Do you have any suggestions? Are you having problems browsing our site? Contact us! <br>Here you will find all our social networks</p>
    <div class="contact_partie1">
        <div class="partie1_left">
            <h3>Mail</h3>
            <p>Here is our mail :<br><a href="mailto:orchalang@gmail.com" class=Text>orchalang@gmail.com</a></p>
            <a href="https://gmail.com/"><img src="../assets/images/gmail.png" alt="gmail" height="55" width="55" /></a>
        </div>
        <div class="partie1_right">
            <h3>Twitter</h3>
            <p>Here is our Twitter :<br><a href="https://twitter.com/" class=Text>Twitter/Taff_corporation</a></p>
            <a href="https://twitter.com/"><img src="../assets/images/twitter.png" alt="twitter" height="55" width="55" /></a>
        </div>
    </div>
    <div class="contact_partie2">
        <div class="partie2_left">
            <h3>Facebook</h3>
            <p>Here is our Facebook :<br><a class=Texte href="https://www.facebook.com/">Facebook/Taff_corporation</a></p>
            <a href="https://www.facebook.com/"><img src="../assets/images/facebook.png" alt=" facebook" height="55" width="55" /></a>
        </div>
        <div class="partie2_right">
            <h3>Instagram</h3>
            <p>Here is our Instagram :<br><a class=Texte href="https://www.instagram.com/">Instagram/Taff_corporation</a></p>
            <a href="https://www.instagram.com/"><img src="../assets/images/instagram.png" alt="instagram" height="55" width="55" /></a>
        </div>
    </div>
  </div>


              