<div class="orcha">
  <h1>What is Orcha language ?</h1>
  <div class="orcha_partie1">
    <div class="partie1_left">
      <img src="/assets/images/orcha1.jpg">
    </div>
    <div class="partie1_right">
      <h2>Drive Human Activities from any business using a simple language</h2>
      <div class="text">
        <p>The syntax is basic :<br/>
        receive order from customer<br/>
        prepareOrder with order.value<br/>
        when "prepareOrder terminates"<br/>
        send preparOrder.result to customer</p>
        <p>If you want to learn more about Orcha language, press the following button :</p>
        <p class="p_btn"><a class="btn_learnmore" href="http://orchalang.com/orchaDetails.htm" role="button">Learn more</a></p>
      </div>
    </div>
  </div>

  <div class="orcha_partie2">
    <div class="partie2_left">
      <h2>Model your activities/business</h2>
      <div class="text">
        <p>An Orcha program describes how an organization works where humans, programs and devices exchange messages and coordinate their activities.<br/>
        <br/>Whatever your activities are, Orcha speaks your business language: <br/>
        receive passport from passenger<br/>
        controlIdentity with passport.photo<br/>
        <br/>receive luggage from passenger<br/>
        scanLuggage with luggage.value<br/>
        <br/>when "scanLuggage fails and controlIdentity terminates"<br/>
        alertAuthorities with controlIdentity.result<br/>
        <br/>Orcha modelling language is easy to learn (a few set a instructions).<br/>
        <br/>Your models written in Orcha are also programs. So just configure your Orcha program and simply run it to drive your business.</p>
        <p>Orcha programs are:</p>
        <ul>
          <li>Lightweight (no application server is needed)</li>
          <li>Portable</li>
          <li>Microservices compatible</li>
          <li>Ready for production mode with a high quality of services</li>
        </ul>
      </div>
    </div>
    <div class="partie2_right">
      <img src="/assets/images/orcha2.jpg">
    </div>
  </div>

  <div class="orcha_partie3">
    <div class="partie3_left">
      <img src="/assets/images/orcha3.png">
    </div>
    <div class="partie3_right">
      <h2>Integrate applications and devices</h2>
      <div class="text">
        <p>The Orcha language is also an integration language.<br/>
        <br/>When you write:<br/>
        receive passport from passenger<br/>
        data for the passenger can come from:</p>
        <ul>
          <li>Files</li>
          <li>Sensors from the Internet of Things</li>
          <li>SQL and NoSQL databases</li>
          <li>...</li>
        </ul>
        <p><br/>When you write:<br/>
        controlIdentity with passport.photo<br/>
        controlIdentity is:</p>
        <ul>
          <li>a Web Service</li>
          <li>a local application</li>
          <li>written in any programming language</li>
        </ul>
      </div>
    </div>
  </div>
</div>