div {
    width: 80%;
    height: 100%;
    margin: auto;
}

p{
    text-align: center;
}

form{
    margin: 20px;
}

.bouton{
    list-style: none;
    border: 1px solid var(--ck-color-base-border);
    padding-left: 10px;
    margin: 0%;
}

.bouton li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

.bouton label {
    text-decoration: none;
    padding : 5px;
}

.bouton_select{
    width: 100px;
    height: 25px;
}

.name_project{
    margin-left: 5px;
}

ckeditor {
    min-height: 200px;
}



