<div class="password">
  <h1>Password</h1>
  <form action="action_page.php" method="post">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="uname"><b>Mail</b></label>
      <input type="text" placeholder="Enter Mail" name="mail" required>
  
      <label for="psw"><b>New password</b></label>
      <input type="password" placeholder="Enter New Password" name="Npsw" required>

      <label for="psw"><b>Confirm new password</b></label>
      <input type="password" placeholder="Confirm New Password" name="Npsw" required>
  
      <button type="submit">Save new password</button>
    </div>
  </form>
</div>
