div{
	text-align: center;
}

.box{
	width: 1000px;
	margin: 0px auto;
	margin-bottom: 50px;
	border-radius: 7px;
	box-shadow: 0px 0px 4px rgba(0,0,0,.3);
}
 
.faq{
	padding: 20px 20px 20px;
}
 
::-webkit-details-marker{
	float: right;
	margin-top: 3px;
}
 
details{
	background: #f6f6f6;
	padding: 10px 20px;
	border-radius: 7px;
	margin-top: 20px;
	cursor: pointer;
}
 
details summary{
	outline: none;
}

.send_mail {
	width: 500px;
	margin: 0px auto;
	margin-bottom: 50px;
	background: #f6f6f6;
	border-radius: 7px;
	box-shadow: 0px 0px 4px rgba(0,0,0,.3);
}

.demande{
	display: inline-block; 
    text-align: center; 
}
