<div class="home">
    <div class="home_partie1">
        <h1>What is Orchalang.com ?</h1>
        <p>Orchalang.com is a very easy to use free Orcha language editor site.</p>
        <img src="../assets/images/imgcontact.png" alt="editor">
    </div>
    <div class="home_partie2">
        <h2>How to use Orchalang.com ?</h2>
        <p>You can navigate by using the menu tabs.<br>
        If you want to learn more about the Orcha language, click on Orcha language tab.<br>
        If you want to start to use our editor for this language, click on Editor tab.<br>
        If you have questions or encounter any problems, go to the Help tab or contact us with our social networks that you can find in the Contact tab.</p>
    </div>
 </div>